{{- "["}}
    {{- range $i, $value := .Data}}

    {{- if eq $i 0 -}}{{- " " -}}
    {{- else -}}{{- "," -}}
    {{- end}}
    {
        {{- range $i, $value := .Fields -}}

        {{- if eq $i 0 -}}{{- " " -}}
        {{- else -}}{{- "," -}}
        {{- end -}}

        {{- if eq .Type "dict"}}
            {{- template "DictDictTmpl" .}}
        {{- else if eq .Type "list"}}
            {{- template "DictListTmpl" .}}
        {{- else if eq .Type "string" -}}
            {{- template "DictStringTmpl" . -}}
        {{- else -}}
            {{- template "DictNumberTmpl" . -}}
        {{- end -}}
        
        {{- end -}}
    {{" }"}}
    {{- end}}
{{"]" -}}

{{- define "DictDictTmpl"}} 
{{- ""}}"{{.Name}}": { 
    {{- range $i, $value := .Fields -}}

    {{- if eq $i 0 -}}{{- " " -}}
    {{- else -}}{{- "," -}}
    {{- end -}}

    {{- if eq .Type "dict"}} 
        {{- template "DictDictTmpl" .}} 
    {{- else if eq .Type "list"}} 
        {{- template "DictListTmpl" .}} 
    {{- else if eq .Type "string"}} 
        {{- template "DictStringTmpl" .}} 
    {{- else}} 
        {{- template "DictNumberTmpl" .}} 
    {{- end -}} 
    {{- end}} 
{{- "}"}}
{{- end}}

{{- define "ListDictTmpl"}} 
{{- "{"}} 
    {{- range $i, $value := .Fields -}}

    {{- if eq $i 0 -}}{{- " " -}}
    {{- else -}}{{- "," -}}
    {{- end -}}

    {{- if eq .Type "dict"}} 
        {{- template "DictDictTmpl" .}}
    {{- else if eq .Type "list"}} 
        {{- template "DictListTmpl" .}} 
    {{- else if eq .Type "string"}} 
        {{- template "DictStringTmpl" .}} 
    {{- else -}} 
        {{- template "DictNumberTmpl" .}} 
    {{- end -}} 
    {{- end}} 
{{- "}"}}
{{- end}}

{{- define "DictListTmpl" -}}
{{- ""}}"{{.Name}}":{{- "[" -}}
    {{- range $i, $value := .Fields -}}

    {{- if eq $i 0 -}}{{- " " -}}
    {{- else -}}{{- "," -}}
    {{- end -}}

    {{- if eq .Type "dict" -}}
        {{- template "ListDictTmpl" . -}}
    {{- else if eq .Type "list" -}}
        {{- template "ListListTmpl" . -}}
    {{- else if eq .Type "string" -}}
        {{- template "ListStringTmpl" . -}}
    {{- else -}}
        {{- template "ListNumberTmpl" . -}}
    {{- end -}} 
    {{- end -}}
{{- "]" -}}
{{- end -}}

{{- define "ListListTmpl"}}
{{- "[" -}}
    {{- range $i, $value := .Fields -}}

    {{- if eq $i 0 -}}{{- " " -}}
    {{- else -}}{{- "," -}}
    {{- end -}}

    {{- if eq .Type "dict"}}
        {{- template "ListDictTmpl" .}} 
    {{- else if eq .Type "list"}}
        {{- template "ListListTmpl" .}} 
    {{- else if eq .Type "string"}}
        {{- template "ListStringTmpl" .}}
    {{- else -}}
        {{- template "ListNumberTmpl" .}} 
    {{- end -}} 
    {{- end -}}
{{- "]"}}
{{- end -}}

{{- define "ListStringTmpl" -}}
{{- ""}}"{{.Data}}"
{{- end}}

{{- define "ListNumberTmpl" -}}
{{- .Data -}}
{{- end -}}

{{- define "DictStringTmpl" -}}
{{- ""}}"{{.Name}}":"{{.Data}}"
{{- end -}}

{{- define "DictNumberTmpl" -}}
{{- ""}}"{{.Name}}":{{.Data}}
{{- end}}