{{- "local"}} {{.Name}}={
    {{- range .Data}}
    {{if eq (index .Fields 0).Type "string" -}}
    ["{{.ID}}"]={
    {{- else -}}
    [{{.ID}}]={
    {{- end -}}
        {{- range .Fields -}}
        {{- if eq .Type "dict"}}
            {{- template "DictDictTmpl" .}}
        {{- else if eq .Type "list"}}
            {{- template "DictListTmpl" .}}
        {{- else if eq .Type "string"}}
            {{- template "DictStringTmpl" .}}
        {{- else}} 
            {{- template "DictNumberTmpl" .}} 
        {{- end -}}
        {{- end -}}
    },
    {{- end}}
}
return {{.Name -}}

{{- define "DictDictTmpl"}} 
{{- .Name}}={
    {{- range .Fields -}} 
    {{- if eq .Type "dict"}} 
        {{- template "DictDictTmpl" .}} 
    {{- else if eq .Type "list"}} 
        {{- template "DictListTmpl" .}} 
    {{- else if eq .Type "string"}} 
        {{- template "DictStringTmpl" .}} 
    {{- else}} 
        {{- template "DictNumberTmpl" .}} 
    {{- end -}} 
    {{- end}} 
{{- "},"}}
{{- end}}

{{- define "ListDictTmpl"}} 
{{- "["}}{{.Name}}]={
    {{- range .Fields -}} 
    {{- if eq .Type "dict"}} 
        {{- template "DictDictTmpl" .}}
    {{- else if eq .Type "list"}} 
        {{- template "DictListTmpl" .}} 
    {{- else if eq .Type "string"}} 
        {{- template "DictStringTmpl" .}} 
    {{- else -}} 
        {{- template "DictNumberTmpl" .}} 
    {{- end -}} 
    {{- end}} 
{{- "},"}}
{{- end}}

{{- define "DictListTmpl"}}
{{- .Name}}={
    {{- range .Fields -}}
    {{- if eq .Type "dict"}}
        {{- template "ListDictTmpl" .}} 
    {{- else if eq .Type "list"}}
        {{- template "ListListTmpl" .}} 
    {{- else if eq .Type "string"}}
        {{- template "ListStringTmpl" .}} 
    {{- else -}}
        {{- template "ListNumberTmpl" .}} 
    {{- end -}} 
    {{- end}}
{{- "},"}}
{{- end}}

{{- define "ListListTmpl"}}
{{- "["}}{{.Name}}]={
    {{- range .Fields -}}
    {{- if eq .Type "dict"}}
        {{- template "ListDictTmpl" .}} 
    {{- else if eq .Type "list"}}
        {{- template "ListListTmpl" .}} 
    {{- else if eq .Type "string"}}
        {{- template "ListStringTmpl" .}}
    {{- else -}}
        {{- template "ListNumberTmpl" .}} 
    {{- end -}} 
    {{- end}}
{{- "},"}}
{{- end}}

{{- define "ListStringTmpl"}}
"{{- .Data -}}",
{{- end}}

{{- define "ListNumberTmpl"}}
{{- .Data -}},
{{- end}}

{{- define "DictStringTmpl"}}
{{- .Name}}="{{.Data}}",
{{- end}}

{{- define "DictNumberTmpl"}}
{{- .Name}}={{.Data}},
{{- end}}